* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  color: var(--main-text-color-2);
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  outline: none;
}

ul {
  list-style-type: none;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
}
