@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 0.2s linear, color 0.2s linear;
}

body {
	// background-color: #eee;
	color: var(--main-text-color-2);
	// font-family: Rubik, sans-serif;
	font-family: sans-serif;
	line-height: 1.5;
}

a {
	outline: none;
}

ul {
	list-style-type: none;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
